#toplogo h2 {
position: fixed;
top: 0px;
left: 0px;
padding: 0px;
margin: 0px;
width: 100%;
background-color: #71B8FF;
background-position : top left;
background-repeat: no-repeat;
font-family : Georgia, serif;
font-size : 14px;
margin-bottom : 0px;
margin-top : 0px;
padding-bottom : 0px;
padding-left : 3%;
padding-top : 0.5em;}

#toplogo img {
  width: 24%;
  height: 12%;
}

.anchor {
  position: relative;
  left: 0px;
  top: -70px;
}

#links {
  margin-left:30%;
}

body{
  background-image: url('../Images/gradientbg2.png');
  background-size: 100%, 100%;
}

a:link {
  color: darkcyan;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
  text-decoration:none;
}

a:hover {
  color: darkblue;
  text-decoration:none;
}

a:active {
  color: darkcyan;
  text-decoration:none;
}

#content h1 {
  font-family: Kortika, Tahoma, Calibri;
  font-size: 32px;
  margin-top:20%;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
}

#content p {
  font-family: "Berlin Sans FB", Tahoma, Calibri;
  font-size: 16px;
  text-align: justify;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 100px;
}

dt {
  font-weight:bold;
  font-size:22px;
  margin-left: 5%;
  font-family: "Berlin Sans FB", Tahoma, Calibri;
  text-align: justify;
}

dd {
  margin-left: 5%;
  padding-left: 110px;
  font-family: Kortika, Tahoma, Calibri;
  font-size: 14px;
  margin-right: 10%;
  text-align: justify;
}

#pasta dd {
  background-image: url('../Images/pastathumbnailmobile.png');
  background-position: center left;
  background-repeat: no-repeat;
}


#shish dd {
  background-image: url('../Images/shishthumbnailmobile.png');
  background-position: center left;
  background-repeat: no-repeat;
}

#garlicbread dd {
  background-image: url('../Images/garlicbreadthumbnailmobile.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

#siteinfo {
  background-color:#E1E8EE;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../Images/logo3.png');
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding-bottom: 100px;
  margin-top: 0px;
  width: 100%;
  border-style:solid;
  font-size: 8px;
}

#top {
  margin-right:5%;
}

#top img {
  float:right;
  width:10%;
  height:10%;
}

/* Large device CSS */

@media only screen and (min-width: 768px) {

  #toplogo h2 {
  font-size : 2em;
  margin-bottom : 0px;
  margin-top : 0px;
  padding-bottom : 0px;
  padding-left : 3%;
  padding-top : 0.5em;}

  #toplogo img {
    width: 12%;
    height: 6%;
  }

  #content h1 {
    font-family: Kortika, Tahoma, Calibri;
    font-size: 48px;
    margin-top:10%;
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
  }

  #content p {
    font-family: "Berlin Sans FB", Tahoma, Calibri;
    font-size: 24px;
    text-align: justify;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 100px;
  }

  dt {
    font-weight:bold;
    font-size:26px;
    margin-left: 15%;
    font-family: "Berlin Sans FB", Tahoma, Calibri;
    text-align: justify;
  }

  dd {
    margin-left: 15%;
    padding-left: 300px;
    font-family: Kortika, Tahoma, Calibri;
    font-size: 20px;
    margin-right: 20%;
    margin-bottom: 50px;
    padding-bottom: 120px;
    text-align: justify;
  }

  #top img {
    width:auto;
    height:auto;
  }

  #siteinfo {
    background-image: url('../Images/logo2.png');
    font-size: 14px;
  }

  #pasta dd {
    background-image: url('../Images/pastathumbnail.png');
  }


  #shish dd {
    background-image: url('../Images/shishthumbnail.png');
  }

  #garlicbread dd {
    background-image: url('../Images/garlicbreadthumbnail.png');
    padding-bottom: 100px;
  }

}
